# Order is important. The last matching pattern has the most precedence.

/.github/                                                      @rebasedming @philippemnoel @jamessewell
/public/                                                       @rebasedming @philippemnoel @jamessewell
/src/                                                          @rebasedming @philippemnoel @jamessewell
